<h4>Post details: </h4>

<p>
  <%= @row['content'] %>
  <br>
  <br>
  Added at : <%= @row['created_date'] %>
</p>
<br>
<h4>Comments: </h4>
<!-- Форму для добавления комментария -->
<form action="/details/<%= @row['id'] %>" method="POST" role="form">

 <div class="">
   <textarea name="content" rows="4" cols="30"
   placeholder="Type comment text here"></textarea>
 </div>
 <br>

 <button type="submit" class="btn btn-primary">Add comment</button>
</form>
