<h2>Latest posts: </h2>

<br>
    <!-- Обращаемся к хэшу по ключу post[''] -->
<% @results.each do |post| %>
    <p>
      <%= post['content']      %>
      <br>
      <br>
      Added at : <%= post['created_date'] %>
      <br>
      <!-- Внимание тут вставляем 'id', который в БД -->
      <!-- Для чего? Чтобы у каждого поста был id,
      и я мог найти этот пост -->
      <!-- Должны появится ссылки в представлении -->
      <br>
      <a href="/post/<%= post['id'] %>">Comments</a>
    </p>
    <hr />
<%  end  %>
