<h2>Add New Posts</h2>
<p>
  <p color="red"><%= @error %></p>
  <form action="/new" method="POST" role="form">

   <div class="">
     <textarea name="content" rows="4" cols="30"
     placeholder="Type post text here"></textarea>
   </div>
   <br>

   <button type="submit" class="btn btn-primary">Submit</button>
 </form>

</p>
